@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

button {
  border-style: none;
}

.main-container {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  height: 64px;
}

.logo {
  margin: 0 28px 0 70px;
}

.navigation {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}


.navigation-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  /* min-width: 380px; */
}

.navigation-links {
  padding: 20px 16px;
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.navigation-user {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: 70px;
}

.navigation-user .navigation-item:last-of-type {
  margin-left: 20px;
}

.user-links {
  text-decoration: none;
  color: #000000;
}

.user-links svg {
  padding: 22px 12px;
}

.user-links span {
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #756157;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
}

.user-links .favourites-number {
  background-color: #7DB54F;
  margin: 0;
  padding: 5px;
  height: 20px;
  width: 20px;
  text-align: center;
  border-radius: 50%;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  position: relative;
  top: -40px;
  right: 28px;
}

.hero {
  width: 1200px;
  height: 485px;
  background-color: #ffffff;
  background-image: url("../img/index-background.jpg");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-welcome {
  margin-top: 51px;
}

.main-divider {
  height: 57px;
}

.reasons {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 69px auto;
}

.reasons-header {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  width: 620px;
  text-align: center;
  margin: 0;
}

.reasons-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 25px auto 0;
}

.advantages {
  background-color: rgba(131, 179, 211, 0.12);
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.advantages-items {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.advantages-item-card {
  max-width: 400px;
  min-height: 385px;

}


.advantages-item p {
  font-size: 18px;
  /* width: 230px; */
  margin: 0 85px;
}

.advantages-item-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.advantages-item-card h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  width: 175px;
  height: 56px;
  margin: 62px auto;
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(1),
.advantages-item:nth-last-child(1) {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-item-wide-picture img {
  display: block;
}



.slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 64px auto;

}

.slogan-header {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  width: 505px;
  text-align: center;
  margin: 0 auto 20px;
}

.slogan-text {
  font-size: 21px;
  line-height: 26px;
  width: 490px;
  margin: 0 auto;
}

.recomendations {

  background-color: rgba(131, 179, 211, 0.12);
}

.recomendation-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.recomendation-item {
  max-height: 400px;
  margin: 0;
  padding: 0;
}

.recomendation-item:nth-child(2n) {
  background-color: #ffffff;
}

.recomendation-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 81px 85px;
  color: #82b3d3;
}

.recomendation-card h3 {
  color: #000000;
}

.recomendation-name {
  font-size: 24px;
  line-height: 28px;
}

.recomendation-text {
  text-align: center;
  color: #333333;
}

.interested-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 96px 304px;
}

.interested h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.interested-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.intersted-button {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  padding: 8px 50px;
  background-color: #756167;
  border-radius: 4px;
  color: #ffffff;
}

.subscribe {
  background-color: #000000;
  background-image: url("../img/Subscribe.jpg");
  background-repeat: no-repeat;
  height: 415px;
}

.subscribe-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 684px;
  height: 215px;
  margin: 96px auto;
  color: #ffffff;
}

.subscribe h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-top: 96px;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe-form {
  height: 52px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
}

.subscribe-button {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  padding: 8px 50px;
}



.page-footer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.footer-social {
  padding: 0;
}

.footer-social-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.footer-social-item {
  display: flex;
  justify-content: center;
}

.contacts-address {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}

.links {
  text-decoration: none;
  font-style: normal;
  color: #000000;

}

.vk {
  padding: 13px 12px;
  color: #82b3d3;
}

.telegramm {
  padding: 12px 15px;
  color: #82b3d3;
}

.youtube {
  padding: 12px 13px;
  color: #82b3d3;
}

.links-svg {
  display: block;
}

.filter {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../img/filter.jpg");
  background-repeat: no-repeat;
  /* margin: 0 auto; */
  min-height: 412px;

}

.filter-wrapper {
  margin: 0 70px;
  padding-top: 35px;
}

.filter-header {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  justify-content: start;
  list-style-type: none;
  padding: 0;
}

.breadcrumbs li:not(:last-child) {
  margin-right: 10px;
}

.breadcrumbs-item span {
  font-size: 16px;
  line-height: 21px;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin: 0 70px;
}

.infrastructure-items,
.type-housing-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.infrastructure {
  margin-right: 70px;
}

.infrastructure h3,
.type-housing h3,
.cost h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.infrastructure-item p,
.type-housing-item p {
  font-size: 18px;
  line-height: 23px;
  margin: 0;
  padding: 0;
}

.cost {
  margin-right: 70px;
}

.cost-range {
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.start-cost,
.end-cost {
  height: 48px;
  width: 143px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.start-cost+span,
.end-cost+span {
  position: relative;
  left: -30px;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.6;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin-top: 56px;
}

.filter-buttons-accept {
  margin-bottom: 32px;
}

.filter-buttons-accept,
.filter-buttons-cancel {
  padding: 8px 50px;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.filter-buttons-accept {
  background-color: #82B3D3;
  border: none;
}

.filter-buttons-cancel {
  background-color: transparent;
}

.hotels-wrapper {
  display: flex;
  justify-content: space-between;
  align-self: baseline;
  margin: 0 70px;
}

.hotels-search {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.select-control {
  height: 48px;
  align-self: center;
  background-color: transparent;
  border-radius: 4px;
}

.hotels-viewing {
  align-self: center;
}

.hotels-sorting-table,
.hotels-sorting-card,
.hotels-sorting-listing {
  height: 48px;
  width: 48px;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.hotels-sorting-checked {
  border: 2px solid #000000;
}


.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotels-list {
  /* display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px; */

  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;

  list-style-type: none;
  padding: 0;
  margin: 0 70px;
}

.hotels-item {
  box-sizing: border-box;
  width: 340px;
  display: flex;
  flex-direction: column;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
}

.hotels-item h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 16px 0;
  min-width: 300px;
}

.hotels-item-img {
  align-self: center;
}

.hotels-type-price {
  color: #333333;
  display: flex;
  justify-content: space-between;
}
.hotels-type-price p {
  margin: 0;
}

.hotels-buttons {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.hotels-buttons p{
  color: #ffffff;
  margin-bottom: 16px;
}

.hotels-detailed {
  background-color: #756157;
  padding: 8px 26px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotels-favorites {
  background-color: #82b3d3;
  border-radius: 4px;
  padding: 8px 0;
  text-align: center;
  width: 140px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotels-favorites-cheked {
  background-color: #7db54f;
  border-radius: 4px;
  padding: 8px 0;
  width: 140px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotels-raitings {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.hotels-raitings>*{
  margin: 0;
}

.hotels-raitings img {
  align-self: center;
}

.raiting {
  background-color: #f2f2f2;
  color: #333333;
  text-align: center;
  width: 140px;
  padding: 9px 0 8px 0;
  border-radius: 4px;
}

.pagination {
  display: flex;
  justify-content: start;
  list-style-type: none;
}

.pagination li:not(:last-child) {
  margin-right: 8px;
}

.pagination-item {
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  min-width: 60px;
  flex-grow: 1;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-current {
  background-color: #f2f2f2;
}

.pagination-current > .pagination-link {
  color: #000000;
}

.pagination-dotted {
  background-color: transparent;
}

.pagination-dotted > .pagination-link {
  color: #000000;
}

.pagination-link {
  margin: 0 5 px;
}


.subscribe-catalog h2,
.subscribe-catalog p {
  color: #000000;
}
