@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  box-sizing: ;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  background-color: #ffffff;
  display: flex;
  justify-content: start;
  height: 64px;
}

.logo {
  margin: 0 28px 0 70px;
}

.navigation {
  margin: auto;
  display: flex;
  justify-content: space-between;
}


.navigation-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 380px;
}

.navigation-user {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 310px;
  margin-right: 70px;
  margin-left: 285px;
}

.navigation-item {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 16px 20px;
}

.hero {
  width: 1200px;
  height: 485px;
  background-color: #ffffff;
  background-image: url("../img/index-background.jpg");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-welcome {
  margin-top: 51px;
}

.main-divider {
  height: 57px;
}

.reasons {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 69px auto;
}

.reasons-header {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  width: 620px;
  text-align: center;
  margin: 0;
}

.reasons-text {
  font-size: 22px;
  line-height: 26px;
  width: 654px;
  text-align: center;
  margin: 25px auto 0px;
}

.advantages-items {
  list-style-type: none;
}

.advantages-item h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.advantages-item p {
  font-size: 18px;
}


.slogan-header {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.slogan-text {
  font-size: 21px;
  line-height: 26px;
}

.recomendation-list {
  display: flex;
  justify-content: center;
}

.recondation-name {
  font-size: 24px;
  line-height: 28px;
}

.interested h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.interested-text {
  font-size: 22px;
  line-height: 26px;
}

.intersted-button {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  background-color: #000000;
  background-image: url("../img/Subscribe.jpg");
  background-repeat: no-repeat;
}

.subscribe h2 {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
}

.subscribe-text {
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-button {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
}

.page-footer {
  display: flex;
  justify-content: space-between;
}

.footer-social-list {
  list-style-type: none;
  display: flex;
  justify-content: start;
}

.contacts-address {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}

.links {
  text-decoration: none;
  font-style: normal;
  color: #000000;
}

.filter {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../img/filter.jpg");
  background-repeat: no-repeat;
}

.filter-header {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  justify-content: start;
  list-style-type: none;
}

.breadcrumbs-item span {
  font-size: 16px;
  line-height: 21px;
}

.filters {
  display: flex;
  justify-content: space-between;
}

.infrastructure-items,
.type-housing-items {
  list-style-type: none;
}

.infrastructure h3,
.type-housing h3,
.cost h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.infrastructure-item p,
.type-housing-item p {
  font-size: 18px;
  line-height: 23px;
}

.cost-range {
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
}

.hotels-wrapper {
  display: flex;
  justify-content: space-between;
}

.hotels-search {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotels-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.hotels-item h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotels-type-price {
  color: #333333;
  display: flex;
  justify-content: space-around;
}

.hotels-buttons {
  display: flex;
  justify-content: space-between
}

.hotels-buttons button {
  color: #ffffff;
}

.hotels-detailed {
  background-color: #756157;
}

.hotels-favorites {
  background-color: #82b3d3;
}

.hotels-favorites-cheked {
  background-color: #7db54f;
}

.hotels-raitings {
  display: flex;
  justify-content: space-between;
}

.raiting {
  background-color: #f2f2f2;
  color: #333333;
}

.pagination {
  display: flex;
  justify-content: start;
  list-style-type: none;
}

.subscribe-catalog h2,
.subscribe-catalog p {
  color: #000000;
}
