@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  background-color: #ffffff;
  display: flex;
  justify-content: start;
  height: 64px;
}

.logo {
  margin: 0 28px 0 70px;
}

.navigation {
  margin: auto;
  display: flex;
  justify-content: space-between;
}


.navigation-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 380px;
}

.navigation-user {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 310px;
  margin-right: 70px;
  margin-left: 285px;
}

.navigation-item {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 16px 20px;
}

.hero {
  width: 1200px;
  height: 485px;
  background-color: #ffffff;
  background-image: url("../img/index-background.jpg");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-welcome {
  margin-top: 51px;
}

.main-divider {
  height: 57px;
}

.reasons {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 69px auto;
}

.reasons-header {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  width: 620px;
  text-align: center;
  margin: 0;
}

.reasons-text {
  font-size: 22px;
  line-height: 26px;
  width: 651px;
  text-align: center;
  margin: 25px auto 0;
}

.advantages {
  background-color: rgba(131, 179, 211, 0.12);
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.advantages-items {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {
  display: flex;
  justify-content: space-between;
  height: 385px;
}

.advantages-item-card {
  width: 400px;
  height: 385px;
}


.advantages-item p {
  font-size: 18px;
  /* width: 230px; */
  margin: 0 85px;
}

.advantages-item-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.advantages-item-card h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  width: 175px;
  height: 56px;
  margin: 62px auto;
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(1),
.advantages-item:nth-last-child(1) {
  background-color: #82B3D3;
  color: #ffffff;
}



.slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 64px auto;

}

.slogan-header {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  width: 505px;
  text-align: center;
  margin: 0 auto 20px;
}

.slogan-text {
  font-size: 21px;
  line-height: 26px;
  width: 490px;
  margin: 0 auto;
}

.recomendations {

  background-color: rgba(131, 179, 211, 0.12);
}

.recomendation-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.recomendation-item {
  max-height: 400px;
  margin: 0;
  padding: 0;
}

.recomendation-item:nth-child(2n) {
  background-color: #ffffff;
}

.recomendation-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 81px 85px;
}

.recomendation-name {
  font-size: 24px;
  line-height: 28px;
}

.recomendation-text {
  text-align: center;
  color: #333333;
}

.interested-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 96px 304px;
}

.interested h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.interested-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.intersted-button {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  padding: 8px 50px;
  background-color: #756167;
  border-radius: 4px;
  color: #ffffff;
}

.subscribe {
  background-color: #000000;
  background-image: url("../img/Subscribe.jpg");
  background-repeat: no-repeat;
  height: 415px;
  /* margin: 0 auto; */
}

.subscribe-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 684px;
  height: 215px;
  margin: 96px auto;
  color: #ffffff;
}

.subscribe h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-top: 96px;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe-form {
  height: 52px;
  background-color: #f2f2f2;
}

.subscribe-button {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  padding: 8px 50px;
}

.page-footer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;

}

.footer-social-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.footer-social-item {
  display: flex;
  justify-content: center;
}

.contacts-address {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}

.links {
  text-decoration: none;
  font-style: normal;
  color: #000000;

}

.vk {
  padding: 13px 12px;
}

.telegramm {
  padding: 12px 15px;
}

.youtube {
  padding: 12px 13px;
}

.filter {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../img/filter.jpg");
  background-repeat: no-repeat;
  /* margin: 0 auto; */
  min-height: 412px;

}

.filter-wrapper {
  margin: 0 70px;
  padding-top: 35px;
}

.filter-header {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  justify-content: start;
  list-style-type: none;
  padding: 0;
}

.breadcrumbs li:not(:last-child) {
  margin-right: 10px;
}

.breadcrumbs-item span {
  font-size: 16px;
  line-height: 21px;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin: 0 70px;
}

.infrastructure-items,
.type-housing-items {
  list-style-type: none;
}

.infrastructure h3,
.type-housing h3,
.cost h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.infrastructure-item p,
.type-housing-item p {
  font-size: 18px;
  line-height: 23px;
}

.cost-range {
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.filter-buttons-accept,
.filter-buttons-cancel {
  padding: 8px 50px;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.filter-buttons-accept {
  background-color: #82B3D3;
  border: none;
}

.filter-buttons-cancel {
  background-color: transparent;
}

.hotels-wrapper {
  display: flex;
  justify-content: space-between;
}

.hotels-search {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotels-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.hotels-item h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotels-type-price {
  color: #333333;
  display: flex;
  justify-content: space-around;
}

.hotels-buttons {
  display: flex;
  justify-content: space-between
}

.hotels-buttons button {
  color: #ffffff;
}

.hotels-detailed {
  background-color: #756157;
}

.hotels-favorites {
  background-color: #82b3d3;
}

.hotels-favorites-cheked {
  background-color: #7db54f;
}

.hotels-raitings {
  display: flex;
  justify-content: space-between;
}

.raiting {
  background-color: #f2f2f2;
  color: #333333;
}

.pagination {
  display: flex;
  justify-content: start;
  list-style-type: none;
}

.subscribe-catalog h2,
.subscribe-catalog p {
  color: #000000;
}
